@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    /* text-decoration: none;
    outline: none;
    border: none; */
    /* text-transform: capitalize;
    transition: all .2s linear; */
    border: none;
    outline: none;
}
.head, .heading{
    width: 100px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    margin: auto;
    text-align: center;
    font-size: smaller;
    color: blue;
    background-color: rgb(250, 253, 253);
    align-items: center;
    outline: none;
    
}
.frequently-asked-questions{
    padding: 2rem 0;
}
.heading{
    margin-top: 2rem;
    margin-bottom: 0;
}
 .flex{
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    flex: 1 1 17rem;
    padding: 1.5rem 1rem;
} 
.images{
    /* width: ; */
    display: grid;
    flex-direction: row;
    justify-content: space-around;
    
}
.tag1, .kcc{
    width: 800px;
    margin: 2rem;
    padding: 2rem;
}
.questions{
    width: 800px;
    justify-content: space-between;
    margin: auto;
    padding: 10px;
}
.qheading{
    font-size: medium;
    width: 600px;
    text-align: center;
    margin: auto;
}
.question-header, .more-questions, .programme{
    width: 600px;
    text-align: center;
    justify-content: space-between;
    margin: auto;
    padding: 10px;
}
.questions .contentq{
position: relative;
  margin: auto; 
 align-items: center;
 justify-content: center;
 
}
.questions .contentq .label{
position: relative;
padding: 10px;
cursor: pointer;
background-color: white;
 width: 750px; 
 border-radius: 10px;
border: 1px solid #eeeeee;
}
.questions  .contentq .label::before{
    content: '+';
    position: absolute;
    top: 50%;
    right: 10px;
    text-align: center;
    transform: translateY(-50%);
    font-size: .8rem;
    border-radius: 100px;
    width: 15px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.questions .contentq .innercontent{
    position: relative;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
    line-height: 26px;
    padding: 0 10px;
}
.questions .contentq.active .label::before{
content: '-';
}
.questions .contentq.active .innercontent{
    height: 150px;
    padding: 10px;
}
.more-questions{
    border: 1rem;
    border-radius: 10px;
    background-color: #c0d6f8;
    height: 100px;
    font-size: small;
    width: 350px;
    text-align: center;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem .5rem;
    
}
.contact{
    background-color: blue;
    border-radius: 5px;
     margin: 1rem;
    padding: .2rem; 
    color: white;
    outline: none;
    width: 100px;
    border: 1px solid rgba(0, 0, 0, 0.05);
}
 .label::before{
    /* border-radius: 100px; */
    /* background-color: aqua; */
    margin: 0;
    padding: 0;

} 
